*{
    color: white;
}
.main{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
}
.main h1{
    margin-bottom: 20px;
}
.main h2{
    margin-bottom: 30px;
}
.main p{
  font-size: 20px;
  text-align: center;  /* ✅ Center the text horizontally */
  margin-left: 10%;
  margin-right: 10%;

}
